/* FONTS */
@import url(../css/clash-display.css);

/* VARIABLES */
    :root {
        --c-dark: #212529;
        --c-brand: #4e57d4;
        --c-brand-light: #6970dd;
        --c-brand-rgb: 78, 87, 212;
        --c-body: #727272;
        --font-base: "ClashDisplay", sans-serif;
        --box-shadow: 0px 4px 8px rgba(0,0,0,0.08);
        --transition: all 0.7s ease;
        }

body {
    font-family: 'Clash Display', sans-serif;;
}


/* RESET & HELPERS */
body {
    font-family: var(--font-base);
    line-height: 1.7;
    color: var(--c-body);
}

h1, h2, h3,h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 600;
    color: var(--c-dark);
}

a {
    text-decoration: none;
    color: var(--c-brand);
    transition: var(--transition);
}

a:hover {
    color: var(--c-brand-light);
}

img {
    max-width: 100%;
    height: auto;
}

.section-padding {
    padding-top: 80px;
    padding-bottom: 140px;
}

.theme-shadow {
    box-shadow: var(--box-shadow);
}

/* IMAGE ZOOM */
.image-zoom {
    position: relative;
    /* overflow: hidden; */
}

.image-zoom-wrapper {
    overflow: hidden;
    position: relative;
}

.image-zoom-wrapper img{
     transition: var(--transition);
}

.image-zoom:hover .image-zoom-wrapper img {
    transform: scale(1.1);
}


/* NAVBAR STYLING*/

.navbar{
    box-shadow: var(--box-shadow);
}

.navbar-nav .nav-link{
    font-weight: 500;
    color: var(--c-dark);
}

.nav-link:hover{
    color: var(--c-brand); 

}

.navbar-nav .nav-link.active {
    color: var(--c-brand);
}

/* HERO */
#hero {
    position: relative;
    min-height: 100vh;
    background: url('../images/hero-1.jpg') no-repeat center center;
    background-size: cover;
    padding-top: 60px;
}

#hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* 40% opacity */
    z-index: 1;
}

#hero .container {
    position: relative;
    z-index: 2;
}


/* SECTION TITLE */
.section-title {
    margin-bottom: 30px;
}

.section-title .line {
    width: 90px;
    height: 4px;
    background-color: blue;
    margin: 16px auto 24px auto;
}

.section-title p {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

/* TEAM */
.team-member {
    position: relative;
}

.team-member-content {
    background-color: var(--c-brand-light);
    position: absolute;
    bottom: -24px;
    left: 50%;
    width: calc(100% - 70px);
    transform: translateX(-50%);
    padding: -10px;
    transition: var(--transition);
    opacity: 0;
}


.team-member:hover .team-member-content {
    opacity: 1;
    bottom: 0;
}


/*image hover zoom - w3bits.com*/
.img-hover-zoom {
    height: 510px;
    width: 490px;
    overflow: hidden;
  }
  
  /* [2] Transition property for smooth transformation of images */
  .img-hover-zoom img {
    transition: transform .5s ease;
  }
  
  /* [3] Finally, transforming the image when container gets hovered */
  .img-hover-zoom:hover img {
    transform: scale(1.05);
  }


  /* Footer */
footer {
    background-color: #f8f9fa;
    padding: 20px 0;
    text-align: center;
}